body {
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  color: rgb(241, 225, 192);
  font-style: normal;
  font-size: large;
  text-align: justify;
}

h1 {
  color: white;
  font-size: x-large;
}

h2 {
  color: aquamarine;
  font-size: x-large;
}

h3 {
  color: rgb(255, 111, 0);
}

h4 {
  color: #e3baa5;
  font-size: larger;
}

h5 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: large;
  margin-top: 11px;
  padding-right: 15px;
  padding-left: 15px;
}

h6 {
  color: rgb(237, 228, 204);
  font-style: normal;
  font-size: 10px;
  margin-top: 11px;
  padding-right: 15px;
  padding-left: 15px;
}

li {
  color: white;
  font-size: larger;
  list-style-type: none;
}

ol {
  list-style-type: circle;
}

/* Link sin visitar todavia */
a {
  /* Link visitado */
}
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:visited {
  color: #fff2bc;
  text-decoration: none;
}

.videos1 {
  width: 100px;
  height: 100px;
}

form {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 18px;
  width: "100%";
  height: "600px";
  padding: 20px;
  border-radius: 20px;
}

.botonEnviar {
  background-color: rgb(102, 102, 102);
  border-style: none;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.parrafoContacto {
  font-size: large;
  color: aqua;
}

footer {
  font-size: 12px;
  padding: 1%;
  background-color: orangered;
  color: rgb(255, 255, 255);
  border: 1px rgb(255, 255, 255) solid;
  margin: none;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footerElements {
  display: flex;
  justify-content: center;
  text-align: center;
}

.linksFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
.linksFooter div {
  list-style: none;
}

.img1Footer img,
.img2Footer img {
  max-height: 3rem;
}

header {
  width: 100%;
  position: relative;
  z-index: 100;
}

#navbar {
  background-color: transparent;
}

.navBar {
  background-color: orangered;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
}

main {
  border: 10px rgb(255, 255, 255);
  align-items: center;
}

.colCostado1 {
  height: auto;
  max-width: 50%;
}

.logoPaypal {
  width: 50px;
  height: 50px;
}

.logowhattsapp {
  width: 80px;
  cursor: pointer;
}

.mapaEstilo {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  width: "100%";
  height: "600px";
  padding: 20px;
  border-radius: 20px;
}

.imagenCentro {
  border: 3px orangered solid;
  margin: 10px 80px;
}

.formularioContacto {
  color: #ffd1ba;
  text-align: center;
}

.tarjetaGaleria {
  background-color: black;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  width: "100%";
  height: "600px";
  padding: 20px;
  border-radius: 20px;
  border-color: orangered;
}

.tarjetaGaleria1 {
  font-size: xx-large;
  text-align: justify;
  border-radius: 20px;
  border: orangered 5px dotted;
}

/*******TIENDA********/
.botonComprar {
  background: orangered;
  font-size: medium;
  border-radius: 10px;
  border: none;
}
.botonComprar .card1 {
  background: linear-gradient(black, orangered);
}

.card-title {
  text-transform: uppercase;
}

/*******REPRODUCTORES********/
.tituloReproductores {
  text-align: center;
  font-size: xx-large;
  color: orangered;
}

.h1Titulo {
  color: white;
  background: linear-gradient(black, orangered);
  font-size: x-large;
  border: none;
  border-radius: 20px;
}

.h2Titulo {
  color: white;
  text-transform: uppercase;
  font-size: xx-large;
  border: 3px white solid;
  border-radius: 20px;
}

.padreReproductores {
  border: 3px orangered solid;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.hijoCardAlineacion {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px;
  margin: auto;
}

.gridEstilo1 {
  color: white;
  border-radius: 20px;
  border: 3px orangered solid;
  font-size: x-large;
}

@media screen and (max-width: 420px) {
  .linksFooter div {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 421px) and (max-width: 767px) {
  .linksFooter div {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .footerElements {
    flex-direction: column;
  }
  .linksFooter {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .img2Footer {
    display: none;
  }
  .img1Footer img {
    max-height: 2rem;
    margin-bottom: 0.5rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
