body {
  background-color: black;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif, "Arial Narrow Bold", sans-serif;
  align-items: center;
}

h1 {
  color: rgb(255, 123, 0);
}

h2,
h4 {
  color: #ff5900;
}

h3,
h5 {
  color: rgb(255, 255, 255);

  font-style: normal;
  font-size: large;
  margin-top: 11px;
  padding-right: 15px;
  padding-left: 15px;
}

h6 {
  color: rgb(234, 142, 61);

  font-style: normal;
  font-size: 10px;
  margin-top: 11px;
  padding-right: 15px;
  padding-left: 15px;
}

li {
  color: white;
  list-style-type: none;
}

ol {
  list-style-type: circle;
}


p {
  color: white;

  font-style: normal;
  text-align: justify;
}

/* Link sin visitar todavia */

a {
  &:link {
    color: aqua;
    text-decoration: none;
  }

  &:visited {
    color: #ffffff;
    text-decoration: none;
  }
}

.videos1 {
  width: 100px;
  height: 100px;
}

form {
  background-color: rgb(104, 103, 103);
}



.parrafoContacto {
  font-size: small;
  color: aqua;
}

.logowhattsapp {
  width: 140px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}