

#navbar {
  background-color: transparent;
}

.navBar {
  background-color: orangered;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
}

.navBardrop1 {
  background-color: orangered;
  color: rgb(241, 225, 192);
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  border: none;
  justify-content: center;
}

.navBardrop2 {
  background-color: orangered;
   border: none;
  justify-content: center;
}

.encabezado {
  background-color: transparent;
  align-items: center;
  margin-top: 10px;
}