header {
  width: 100%;
  position: relative;
  z-index: 100;
}

#navbar {
  background-color: transparent;
}

.navBar {
  background-color: orangered;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
}

.navBardrop1 {
  background-color: orangered;
  color: rgb(241, 225, 192);
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  border: none;
  justify-content: center;
}

.navBardrop2 {
  background-color: orangered;
   border: none;
  justify-content: center;
}