main {
    border: 10px rgb(255, 255, 255);
    color: #ffd1ba;
    align-items: center;
  }
  
  .colCostado1 {
    height: auto;
    max-width: 50%;
  }
  
  label {
  color: #ffede3;
}

.buttonFor {
  background-color: #ffffff;
}

.mapaEstilo {
  background-color: orangered;
}

.imagenCentro {
  border: 3px orangered solid;
  margin: 10px 80px;
}

.bottonDonar {
  background-color: orangered;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: small;
}
