main {
  border: 10px rgb(255, 255, 255);

  align-items: center;
}

.colCostado1 {
  height: auto;
  max-width: 50%;
}

.logoPaypal {
  width: 50px;
  height: 50px;
}

.logowhattsapp {
  width: 80px;

  cursor: pointer;
}


.mapaEstilo {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  width: "100%";
  height: "600px";
  padding: 20px;
  border-radius: 20px;
}

.imagenCentro {
  border: 3px orangered solid;
  margin: 10px 80px;
}




.formularioContacto {
  color: #ffd1ba;
  text-align: center;
}

.tarjetaGaleria {
  background-color: black;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  width: "100%";
  height: "600px";
  padding: 20px;
  border-radius: 20px;
  border-color: orangered;
}

.tarjetaGaleria1 {
  font-size: xx-large;
  text-align: justify;
   border-radius: 20px;
  border: orangered 5px dotted;
}


/*******TIENDA********/

.botonComprar {
  background: orangered;
  font-size:medium;
   border-radius: 10px;
  border: none;

  .card1{
    background: linear-gradient(black, orangered);
  }

}
 .card-title {
  text-transform: uppercase;
  
 }

/*******REPRODUCTORES********/

.tituloReproductores {
  text-align: center;
  font-size:xx-large;
  color: orangered;
}

.h1Titulo {
  color: white;
  background: linear-gradient( black, orangered);
  font-size: x-large;
  border: none;
  border-radius: 20px;
}

.h2Titulo {
  color: white;
text-transform: uppercase;
  font-size: xx-large;
  border: 3px white solid;
  border-radius: 20px;
}

.padreReproductores {
  border: 3px orangered solid;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.hijoCardAlineacion {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px;
  margin: auto;
}

.gridEstilo1{
    color: white;
      border-radius: 20px;
    border: 3px orangered solid;
    font-size: x-large;
}